@page "/gameboard"

@{
    try
    {

        <div>
            @if (Game == null)
            {
                <p><em>Loading...</em></p>
            }
            else if ((Game?.Attempts?.Count ?? 0) > 3)
            {
                var x = 0.0;
                var y = 0.0;

                <div>
                    <svg xmlns:svg="http://www.w3.org/2000/svg"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="300"
                         height="600"
                         viewBox="0 0 300 600">
                        <defs id="defs430">
                            <radialGradient id="radialGradient4952"
                                            cx="0.0"
                                            cy="0.0"
                                            fx="0.0"
                                            fy="0.0"
                                            r="20.0"
                                            gradientUnits="userSpaceOnUse"
                                            gradientTransform="matrix(0.8,0.8,-0.6,0.6,10,10)">
                                <stop style="stop-color:#ffffff;stop-opacity:1;"
                                      offset="0" />
                                <stop style="stop-color:#ffffff;stop-opacity:0;"
                                      offset="1" />
                            </radialGradient>
                        </defs>
                        <g>
                            <image transform="rotate(-90)" preserveAspectRatio="none meet" x="-600" y="0" width="600" height="600" xlink:href="images/Background.jpg" />
                            @{
                                var i = 0;

                                <g transform="translate(30.0,30.0)">
                                    <CombinationView Target="@Game.Puzzle" />
                                </g>


                                i = 0;

                                <g transform="translate(0.0,80.0)">
                                    @{
                                        y = cell_height * Game.CurrentAttemptIndex;
                                    }
                                    <rect width="300"
                                          height="50"
                                          x="0"
                                          y="0"
                                          fill="silver"
                                          class="animated-slow"
                                          style="opacity:0.3;stroke-width:0"
                                          transform="translate(0.0,@y)" />

                                    @foreach (var a in Game.Attempts)
                                    {
                                        y = cell_height * i + 5.0;

                                        <g transform="translate(30,@y)">
                                            <CombinationView Target="@a" />
                                        </g>
                                        i = i + 1;
                                    }
                                    @{
                                        y = cell_height * Game.CurrentAttemptIndex-35;
                                    }
                                    <rect width="80"
                                          height="120"
                                          x="0"
                                          y="0"
                                          style="opacity:0.0;stroke-width:0"
                                          transform="translate(0.0,@y)"
                                          @ondblclick="Evaluate" />
                                </g>
                            }
                        </g>
                        <Tutor Index="@Game.CurrentAttemptIndex" Hint="@Game.Hint" />
                    </svg>
                </div>
                <select class="btn btn-primary" @bind="@Level">
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                </select>
                <button class="btn btn-primary" @onclick="NewGame">NewGame</button>
            }

        </div>
    }
    catch (Exception e)
    {
        <h1>@e.Message</h1>
        <pre>
            @e.StackTrace
        </pre>
    }

}
@code{

    public const double cell_width = 50.0;
    public const double cell_height = 50.0;
    // height and width

    public string currentState = "Create";
    private static int pos = 0;

    //@Puzzle
    //@foreach(var a in Attempts)
    //{
    //    @a
    //    }

    private static GameBoard Game = null;

    public int Level
    {
        set
        {
            if (!ReferenceEquals(null, Game))
            {
                Game.Level = value;
            }
        }
        get
        {
            return Game?.Level ?? 1;
        }
    }

    public static void UpdateHint(string hint)
    {
        if (null != Game)
        {
            Game.Hint = hint;
        }
        // ColorField
    }

    public static void UpdateHint(ColorField target)
    {
        if (Game?.Hint?.Contains("put") ?? false)
        {
            int i = 0;
            foreach (var c in Game.CurrentAttempt?.Places)
            {
                if (ReferenceEquals(c, target))
                {
                    break;
                }
                i++;
            }

            if (new int[] { 0, 1, 2 }.Contains(i))
            {
                if (i >= pos)
                {
                    Game.Hint = string.Format("put{0}", i + 1);
                    pos = i;
                }
            }
            else
            {
                Game.Hint = "eval";
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        InitGame();
        Game.Hint = "put0";
        await base.OnInitializedAsync();
    }

    private void InitGame()
    {
        if (Game == null)
        {
            try
            {
                Game = new GameBoard();
                Game.NewGame();
                UpdateHint("put0");
            }
            catch (Exception e)
            {
                currentState = e.Message + " --> " + e.StackTrace;
            }
        }

        // TODO: test if Game is null and unsubscribe if needed???
        Game.PropertyChanged += HasChanged;
    }

    private void HasChanged(object sender, PropertyChangedEventArgs e)
    {
        StateHasChanged();
    }

    private void NewGame()
    {
        Game.NewGame();
        UpdateHint("");
    }

    private void Evaluate()
    {
        Game.Evaluate();
        UpdateHint("");
    }

}
